Dnevnik/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Welcom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelcomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelcomResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VrniVseArtikle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VrniVseArtikleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VrniVseArtikleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VrniDnevnik">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VrniDnevnikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VrniDnevnikResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VstaviRokUporabe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ean" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datum_uporabe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VstaviRokUporabeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VstaviRokUporabeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>